*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.screen{
    box-sizing: content-box;
    height: 80vh;
    width: 45vw;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.img{
    height: 15vh;
    width: 15vw;
}
.div{
    max-height: 20vh;
    max-width: 15vw;
    background-color: blue;
    display: flex;
    flex-direction: column;
    transform: translateX(10px);
}
.card{
    background-color: bisque;
}