@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
      --light-grey: #dce4e3;
    --text-color: #084236;
}
*{
    margin: 0;
    font-family: Poppins;
    overflow: hidden;
}
.screen{
    display: flex;
    gap: 20px;
}
.sidebar{
    height: 100vh;
    width: 250px;
    background-color: #18c29c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 500ms;
}
.top{
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.button{
    border: 0;
    background-color: #18c29c;
    display: flex;
    gap: 20px;
    align-items: center;

}
.button:hover{
    cursor: pointer;
}
.search{
    box-sizing: border-box;
    display: flex;
    background-color: #8ed7c6;
    gap: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 222px;
    transition: all 500ms;
}
.lupa{
    margin-left: 10px;
    min-height: 24px;
    min-width: 2px;
}
.input{
    border: 0;
    background-color: inherit;
}
.input:focus{
    outline: 0;
}
.p{
    font-size: 20px;
}
.bottom{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #8ed7c6;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
}
.imgAndPara{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.para{
    line-height: 14px;
}
#imgContainer {
    height: 48px;
    width: 48px;
}
.photo{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.job{
    font-size: 12px;
}
.log{
    background-color: #8ed7c6;
}